@model TasarimProjesi.Models.Request

@{
    ViewData["Title"] = "Yardım Ekranı";
}

<h2>Yardım Ekranı</h2>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.RequestTitle)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.RequestTitle)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.RequestDetail)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.RequestDetail)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-3">
                Talebi Açan
            </dt>
            <dd class="col-sm-9">
                @ViewBag.User
            </dd>
        </dl>
       
        @if (!Model.IsOver && (User.IsInRole("IT") || User.IsInRole("Yönetici")))
        {
            <hr />
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RequestId" />
                <input type="hidden" asp-for="RequestTitle" />
                <input type="hidden" asp-for="RequestDetail" />
                <input type="hidden" asp-for="User" />
                <input type="hidden" asp-for="Date" />
                <div class="form-group">
                    <label asp-for="HelpContent" class="control-label">Destek Mesajınız:</label>
                    <input asp-for="HelpContent" class="form-control" />
                    <span asp-validation-for="HelpContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Files" type="file" multiple />
                </div>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        }
        @if (Model.IsOver)
        {
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.HelpContent)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.HelpContent)
                </dd>
            </dl>
        }
    </div>
</div>

@{
    var fileList = (IEnumerable<TasarimProjesi.Models.FileModel>)ViewBag.Files;
}

@if (fileList.Any())
{
    <hr />
    <h3>Dosyalar</h3>
    <table class="table table-hover table-secondary col-md-6">
        <thead>
            <tr>
                <th class="col-md-6">Dosya Adı</th>
                <th class="col-md-6"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in fileList)
            {
                <tr>
                    <td>@file.Name</td>
                    <td style="text-align: right;">
                        <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="DownloadFile" asp-route-id="@file.FileId">İndir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}