@*@model IEnumerable<TasarimProjesi.Models.PurchasingItem>
@{
	ViewData["Title"] = "Sipariş Detayları";
}

<h2>Sipariş Detayları</h2>
<table class="table">
	<thead>
		<tr>
			<th>
				Sipariş No
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Amount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Brand)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Currency)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.PurchasingId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Amount) @Html.DisplayFor(modelItem => item.Unit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Brand)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Currency)
				</td>
			</tr>
		}
	</tbody>
</table>
*@