@model TasarimProjesi.Models.PurchasingItem

@{
    ViewData["Title"] = "Detaylar";
    var comments = (IEnumerable<TasarimProjesi.Models.Comment>)ViewBag.Comments;

}

<h3>Detaylar</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchasing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchasing.PurchasingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) @Html.DisplayFor(model => model.Currency)
        </dd>
    </dl>
</div>
<hr />
<h3>Yorumlar</h3>
<table class="table table-striped col-md-9">
    @foreach (var c in comments)
    {
            <tr>
                <td class="col-md-2">
                    <strong>@c.User :</strong>
                </td>
                <td class="col-md-5 wordwrap">
                @Html.Raw(c.CommentDetail.Replace("\n", "<br />"))
                </td>
                <td style="text-align: right;" class="col-md-2">
                    <em>@c.Time</em>
                </td>
            </tr>
    }
</table>
@Html.Partial("_CommentBox")